{:kotoba.app/id "cloud.itonami.isic-8423", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidnj4wa6dswlekc5etlf76utodpzwsjlfwgkf7xop6k3waos2qieu", :kotoba.app/embed-url "ipfs://bafkreidnj4wa6dswlekc5etlf76utodpzwsjlfwgkf7xop6k3waos2qieu", :published {:archive "https://kotobase.net/ipfs/bafkreidnj4wa6dswlekc5etlf76utodpzwsjlfwgkf7xop6k3waos2qieu", :size 72151, :put-status 201, :get-status 200, :at "2026-08-15T13:31:18.692Z"}}
